# OpenAI Configuration
# BACKEND_TYPE=litellm
BACKEND_TYPE=httpx
CLAUDE_API_KEY=sk-ant-123456
# Server Configuration
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

# OPENAI_API_KEY=xxx-xxxx
# OPENAI_API_KEY_LIST=xxx;xxx
# OPENAI_BASE_URL=https://integrate.api.nvidia.com/v1
# MODEL_PROVIDER=nvidia_nim
# Model Configuration - Use NVIDIA's model name
# DEFAULT_OPENAI_MODEL=meta/llama-4-maverick-17b-128e-instruct
# CLAUDE_MODEL_MAP={"claude-3-5-sonnet-20241022":"meta/llama-4-maverick-17b-128e-instruct","claude-3-5-sonnet-20240620":"meta/llama-4-maverick-17b-128e-instruct"}



OPENAI_API_KEY=xxxx.xxx
OPENAI_BASE_URL=https://ollama.com/v1
MODEL_PROVIDER=openai
# Model Configuration 
DEFAULT_OPENAI_MODEL=gpt-oss:120b-cloud
CLAUDE_MODEL_MAP={"claude-3-5-sonnet-20241022":"gpt-oss:120b-cloud","claude-3-5-sonnet-20240620":"gpt-oss:120b-cloud"}

# Force tools into prompt (NVIDIA doesn't support native tool calling)
FORCE_TOOL_IN_PROMPT=true
